table {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-width: thick;
    margin: auto;

}

* {
    
    margin: 0;
    padding: 0;
}

.black {
    background-color: black;
    width: 50px;
}

.white {
    color:  white;
    width: 50px;
}